.card {
  padding: 4px 40px 24px 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  width: 19vw;
  transition: all ease 200ms;
  border-radius: 8px;
  height: 350px;
}
button {
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  width: -webkit-fill-available;
  padding: 8px;
  border: none;
  border-radius: 0.5rem;
  border-color: inherit;
  color: aliceblue;
}

.card:hover {
  background-color: hsl(237, 63%, 64%);
  color: aliceblue;
  margin-top: -25px;
  height: 400px;
}

.card:hover .card-content {
  margin-top: 37px;
}
.price {
  font-size: 30px;
}
.card:hover button {
  background: aliceblue;
  color: hsl(237, 63%, 64%);
}
.zoom {
  height: 100%;
}

.card-content {
  max-height: 350px;
}

@media (max-width: 375px) {
  .card {
    width: 90%;
    padding: 0px;
  }
  .zoom {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .card-content {
    padding-left: 30px;
    padding-right: 30px;
  }
}
